@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

#app {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* general used styles */

.icon__container {
  min-width: 15%;
  min-height: 100%;
  margin-right: .4rem;
  display: grid;
  place-items: center;

  svg {
    margin: 0 auto;
  }
}

.avatar {
  border-radius: 50%;
  background-color: salmon;
  color: white;
  width: 30px;
  height: 30px;
  border: 1px solid currentColor;
  display: grid;
  place-items: center
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* reviews styles */

.reviews-section__container {
  h2 {
    font-size: 2.2rem;
    padding-block-end: 1rem
  }
}

.reviews-list__container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: auto;

  padding-inline: 10px;
}

.reviews-list__item {
  background-color: hsla(180, 0%, 93.725%);
  border-radius: 8px;

  .review-item__container {
    padding-block: .6rem;
    padding-inline: 1rem;

    p {
      font-size: 11px;
    }

    .review-item__head {
      display: flex;
      flex-direction: row;

      .avatar {
        margin-inline-end: 5px;
      }

      small {
        font-size: 10px;
        color: hsla(0, 0%, 46.275%)
      }

      date {
        font-size: 8px;
        color: hsla(0, 0%, 46.275%)
      }

      .review-item__info {
        display: flex;
        flex-direction: column;
      }
    }
  }

}



/* warranty styles */

.warranty__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  gap: 2rem;
  margin-block: 1rem;
  margin-inline: 1rem;

  h5 {
    font-size: 12px
  }

  p {
    font-size: 12px
  }

  .warranty__feature-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    /* justify-content: space-between; */
    background-color: hsla(180, 0%, 93.725%);
    padding-block: 1rem;
    padding-inline: .4rem;
    min-width: 20%;
    height: 4.4rem;

    p {
      width: 24ch
    }
  }
}

/* specs styles */

.specs__container {
  background: hsla(0, 0%, 0%, .9);

  h2 {
    min-width: 100vw;
    text-align: center;
    color: white;
    padding-block-end: 2rem
  }
}

.specs-collection__container {
  display: grid;
  background-color: black;
  padding-inline: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  min-height: 30vh;
  padding-block-end: 3rem;

  p {
    font-size: clamp(0.625rem, -0.8rem + 3vw, 1rem);
  }

  @media (width < 768px) {
    grid-template-columns: 1fr;

    p {

      font-size: clamp(0.625rem, -.1rem + 3vw, 1rem);
    }
  }
}

.spec-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  width: 80%;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
  height: 5rem;

  .spec-item__icon {
    background-color: hsla(197.28, 67.221%, 66.02%);
  }

  .spec-item__text {
    font-size: 8px !important;
  }
}

/* payment styles */
.payment__container {
  text-align: center;

  h2 {
    margin: 0 auto;
    padding-block-end: 1rem
  }

  .options__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100vw;
    padding-inline: 10%;
    gap: 3%;
    padding-block-end: 6rem;


    .option-item__container {
      h3 {
        padding: 1rem
      }

      padding-block-end: 3rem;
    }

    .option-item__description {
      margin: 0 auto;
      padding-inline: 1rem;
    }

    img {
      margin: 0 auto;
      margin-block: 1rem
    }

    button {
      background-color: hsla(197.28, 67.221%, 66.02%);
      border-radius: 20px;
      padding-inline: .8rem;
      padding-block: .6rem;
      text-transform: uppercase;
      font-size: 14px;
      margin-block-start: 2rem;
      font-size: 12px;
    }

    &>* {
      box-shadow: var(--shadow-5);
      /* height: 500px; */
    }

    .option-item__price-container {
      display: flex;
      justify-content: center;
      margin-block-start: 1rem;

      .price-item {
        color: hsla(197.03, 69.673%, 63.621%);
        text-decoration: underline;
      }

      .strikeout {
        color: hsla(240, 0%, 79.216%);
        text-decoration: line-through;
        text-decoration-color: hsla(180, 0%, 33.725%);
        margin-inline-end: .4rem;
      }

    }

    p {
      font-size: 12px;
    }

    .finance-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-inline: 1rem;


      > {
        flex-grow: 1;
      }
    }

  }
}

.subscribe-cta__container {
  background-image: url('/hottub.jpg');
  background-size: cover;
  background-position-y: 40%;
  background-color: #1b50628e;
  background-blend-mode: hard-light;
  min-height: 10rem;
  color: white;
  overflow: hidden;

  h2 {
    font-size: clamp(0.625rem, 1rem + 3vw, 2.2rem);
  }

  .subscribe-cta__inner {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 5%;
    text-align: center;

    input,
    button {
      padding-block: .4rem;
      font-size: 14px;
    }

    input {
      color: black;
      font-weight: 600;
    }

    .email-input {
      display: flex;
    }




    input {
      border-radius: 20px 0px 0px 20px;
      width: 28ch
    }

    button {
      background-color: hsla(197.28, 67.221%, 66.02%);
      border-radius: 0px 20px 20px 0px;
      padding-inline: .8rem;
      text-transform: uppercase;
      margin-left: -.25rem;
      padding: revert;
      display: flex;
      align-items: center;
    }
  }
}

.contact__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;



  .contact__inputs-group,
  form {

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h2 {
      min-width: 40vw;
      max-width: 90vw;
      text-align: center;
      width: 100%;
    }

    >* {
      margin-block-end: 1rem;
      width: 100%
    }

    input,
    textarea {
      width: 100%;
      border: 1px solid black;
      background: white
    }

    textarea {
      height: 14ch
    }

    button {
      background-color: hsla(197.28, 67.221%, 66.02%);
      border-radius: 20px;
      padding-inline: .8rem;
      padding-block: .6rem;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      margin: 0 auto;
    }
  }

  .contact__map-container {
    border-radius: 4px;
  }
}

.bold {
  font-weight: 600
}

button {
  letter-spacing: .2ch;

  svg {
    margin-inline-end: .2rem
  }
}